<h1>
    <%= randFortune.name %>
</h1>
<p>
    <%= randFortune.description %>
</p>

<button id="<%= randFortune._id %>" class="addToOrderBtn"> Add to order</button>


<div>
    <button id="submit">Submit Order</button>

</div>