<h1>Get A Fortune</h1>
<div class="get-fortune">

    <h1>
        <%= randFortune.name %>
    </h1>
    <p>
        <%= randFortune.description %>
    </p>

    <button id="<%= randFortune._id %>" class="addToOrderBtn"> Add to order</button>


    <div>
        <button id="submit">Submit Order</button>
        <br>
        <br>
        Don't like your fortune? Refresh for another!
    </div>

</div>